* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 border: 0px solid yellow;
}

img {
 width: 50px;
}

body {
 font-size: 0.9rem;
 line-height: 1rem;
 color: #777;
 letter-spacing: 0.1px;
}


h1{
color: #222;

}

h1 {
 font-size: 3rem;
 line-height: 3rem;
 margin-bottom: 2rem;
 font-weight: 400;
}

h2 {
 font-size: 2.4rem;
 line-height: 2.4rem;
 margin-bottom: 0.6rem;
}

h3 {
 font-size: 1.6rem;
 line-height: 1.6rem;
 letter-spacing: 2.5px;
}

h4, h5 {
 color: #444;
   font-weight: 400;
}

h4 {
 font-size: 1.3rem;
 line-height: 1.3rem;
 font-weight: bold;
 letter-spacing: 0.1rem;
}

h5 {
 font-size: 1rem;
 line-height: 1.5rem;
 font-weight: 600;
}

p {
 line-height: 1.2rem;
 color: #888;
}

a:link {
  color: #999;
 text-decoration: none;
}


a:hover {
  color: #333;
 font-weight: 600;
}


button {
 font-size: 0.8rem;
 padding: 0.6rem;
 border: 0px solid #444;
 background: none;
 transition: 0.3s;
 color: #888;
}

button:hover {
 cursor: pointer;
 border: 1px solid #444;
 color: #fff;
 background: #444;
}

hr {
 width: 20%;
 margin: 0 auto;
 margin-bottom: 1.8rem;
 border-bottom: 0.6px solid;
 color: #000;
}
